.post-heading {
  color: #145374;
}
.page-heading {
  font-weight: normal;
  border-radius: 12px;
  cursor: pointer;
}

.post-title {
  color: #00334e;
}

h2 {
  color: #00334e;;
}

figure {
  color : #00334e;
  padding: 20px;
  margin: auto;
  width: min-content;
  background-color: #e8e8e8;
  border-radius: 12px;
  border-left-width: 0px;
}

figcaption {
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
}

.navbar-custom {
  background-image: url("/nagra.jpg");
}

.navbar-custom .nav li a {
  color: #f1d4d4;
  font-weight: bold;
}

.navbar-custom .navbar-brand, .navbar-custom .nav li a {
  color: #f1d4d4;
  font-weight: bold;
}

.intro-header .page-heading h1 {
    font-size: 50px;
      color: #00334e;
}
